main{
    width: 800px;
    height: 600px;
    border: 2px solid #633;
    margin: 50px auto;
    position: relative;
}

main #głowa, #sekcja, #sekcja2, #nogi{
    width: 100px;
    height: 100px;
    position: absolute;
    
}
#głowa{
    background-color:#a00;
    top: 10px;
    left: 350px
}
#sekcja{
    background-color: #0a0;
    top: 250px;
    right: 10px
}
#sekcja2{
    background-color: #00a;
    bottom: 250px;
    left: 10px;
}
#nogi{
    background-color: aqua;
    bottom: 10px;
    right: 350px;
}